<ol reversed>

<h4> 2023 </h4>

<li> K. Fazel, N. Karimitari, T. Shah, C. Sutton and R. Sundararaman, 
	&ldquo;Improving the reliability of machine learned potentials for modeling inhomogenous liquids&rdquo;,
	<a href="https://arxiv.org/abs/2306.00970">arXiv:2306.00970 (2023)</a>
</li><br>

<li> J Clary, M Del Ben, R Sundararaman, D Vigil-Fowler,
	&ldquo;Impact of solvation on the GW quasiparticle spectra of molecules&rdquo;,
	<a href="https://doi.org/10.26434/chemrxiv-2023-6zlbh">chemrxiv-2023-6zlbh (2023)</a>
</li><br>

<li> S Adhikari, J Clary, R Sundararaman, C Musgrave, D Vigil-Fowler, C Sutton,
	&ldquo;Accurate Prediction of HSE06 Band Structures for a Diverse Set of Materials Using ∆-learning&rdquo;,
	<a href="https://doi.org/10.26434/chemrxiv-2023-n6p86">chemrxiv-2023-n6p86 (2023)</a>
</li><br>

<li> C. Tezak, N. Singstock, A. AlHerz, D. Vigil-Fowler, C. Sutton, R. Sundararaman and C. Musgrave,
	&ldquo;Revised Nitrogen Reduction Scaling Relations from Potential-Dependent Modeling of Chemical and Electrochemical Steps&rdquo;,
	<a href="https://doi.org/10.26434/chemrxiv-2023-v73sk">chemrxiv-2023-v73sk (2023)</a>
</li><br>

<li> M. Woodcox, A. Mahata, A. Hagerstrom, A. Stelson, C. Muzny, R. Sundararaman and K. Schwarz,
	&ldquo;Simulating dielectric spectra: A demonstration of the direct electric field method and a new model for the nonlinear dielectric response&rdquo;,
	<a href="https://doi.org/10.1063/5.0143425"><i>J. Chem. Phys.</i> <b>158</b>, 124122 (2023)</a>
</li><br>

<li> R. Sundararaman and K. Schwarz,
	&ldquo;Solvent effects determine the sign of the charges of maximum entropy and capacitance at silver electrodes&rdquo;,
	<a href="https://doi.org/10.1063/5.0143307"><i>J. Chem. Phys.</i> <b>158</b>, 121102 (2023)</a>
</li><br>

<h4> 2022 </h4>

<li> N. R. Singstock, C. B. Musgrave,
	&ldquo;How the Bio-Inspired Fe<sub>2</sub>Mo<sub>6</sub>S<sub>8</sub> Chevrel Breaks Electrocatalytic Nitrogen Reduction Scaling Relations&rdquo;,
	<a href="https://doi.org/10.1021/jacs.2c03661"><i>J. Am. Chem. Soc.</i> <b>144</b>, 28 (2022)</a>
</li><br>

<li> R. Sundararaman, D. Vigil-Fowler and K. Schwarz,
	&ldquo;Improving the Accuracy of Atomistic Simulations of the Electrochemical Interface&rdquo;,
	<a href="https://doi.org/10.1021/acs.chemrev.1c00800"><i>Chem. Rev.</i> <b>122</b>, 10651 (2022)</a>
</li><br>

<li> A. Shandilya, K. Schwarz and R. Sundararaman,
	&ldquo;Interfacial water asymmetry at ideal electrochemical interfaces&rdquo;,
	<a href="https://doi.org/10.1063/5.0076038"><i>J. Chem. Phys.</i> <b>156</b>, 014705 (2022)</a>
</li><br>

<h4> 2021 </h4>

<li> Y. A. Alsunni, A. W. Alherz, and C. B. Musgrave,
    &ldquo;Electrocatalytic Reduction of CO2 to CO over Ag(110) and Cu(211) Modeled by Grand-Canonical Density Functional Theory&rdquo;,
    <a href="https://doi.org/10.1021/acs.jpcc.1c07484"><i>J. Phys. Chem. C</i> <b>125</b>, 23773 (2021)</a>
</li><br>

</ol>
